<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Østervold kollegie</title>
</head>
<body>
<div>
  <h1>Ansøgning</h1>
  <p>For at være berettiget til et værelse på kollegiet kræver det, at du er studerende. Ansøgning sker ved at blive opskrevet på venteliste, som du kan gøre<a href="https://mit.s.dk/studiebolig/building/166/"> her</a>.</p>
  <p>Hvert år i foråret sker der et studietjek for at kontrollere, at alle beboere fortsat er studieaktive. Er dette ikke tilfældet, vil lejemålet blive opsagt med 3 måneders varsel.</p>
  <p>Man er som studerende berettiget til at bo på kollegiet i den normerede studietid + ét år. Er dit studie således normeret til 5 år, må du maks bo på kollegiet i 6 år. Efter du har færdiggjort dit studie må du bo på kollegiet i op til 3 måneder.<br>
    Det vil sige, at hvis du bliver færdig i juni måned, må du bo på kollegiet til og med september måned.
  </p>
</div>
</body>
</html>