<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Østervold kollegie</title>
</head>
<body>
<h1>Om Østervold Kollegiet</h1>
<br>
<div class="rooms">
<h2>Værelserne</h2>
<p>
    Kollegiet består af 19 værelser på 1. sal og 23 værelser på hver af de øvrige 5 sale.
    Alle værelser har eget toilet og bad og en lille gang med skabsplads.
    Værelserne har trægulve, hvide vægge og et stort vindue, som enten vender ud mod gaden eller gården. Et typisk værelse er på 12m2, men enkelte værelser afviger herfra med et par m2.
    På 6. sal har alle værelser ud mod gaden skråning på den ene side
    I stuen findes en enkelt lejlighed på 30m2, som har eget køkken.
</p>
</div>
<br>
<div class="kitchens">
<h2>Køkkenerne</h2>
    <p>Alle beboere på hver gang deler køkken. I køkkenerne er der ét køkkenskab til hver beboer.
        <br>Køkkenerne indeholder desuden køleskabe og frysere, som beboere efter nærmere aftale fordeler imellem sig.
        <br>Der findes også støvsuger og diverse rengøringsartikler på køkkenerne, som beboere kan benytte til rengøring af deres eget værelse.
    </p>
    <p>Det påhviler beboerne i fællesskab at renholde køkken- og gangarealer. De enkelte etager iværksætter og administrerer selv en fast køkkenturnus.</p>
    <p>På køkkenerne er samtlige beboere forpligtede til at betale et månedligt køkkenkassebeløb som bidrag til fx. fælles tv, internet, aviser, rengøringsmidler, krydderier m.v. De enkelte køkkener fastsætter selv beløbets størrelse.</p>
</div>
<br>
<div class="faqs">
    <h2>FAQs</h2>
    <p><strong>Er der elevator?<br></strong>Ja, kollegiet har en elevator der kan køre fra kælderen til 6. sal.</p>
    <p><strong>Arrangeres der rundture på kollegiet?<br></strong>Nej, kollegiet arrangerer ikke ture for studerende, der ønsker at bo på kollegiet eller er blevet tildelt en bolig. Henvendelse kan ske til den hvis værelse man overtager.</p>
    <p><strong>Hvor lang er ventetiden for et værelse?<br></strong>Ventetiden er som udgangspunkt ca. 2 år. Dog er der for visse studerende kortere ventetider (eksempelvis på grund af lang afstand til uddannelsessted, akut boligsituation m.v.).</p>
    <p><strong>Er der på nogen måde jeg kan komme hurtigere frem, eksempelvis ved at sende en motiveret ansøgning?<br></strong>Det er der desværre ikke. Alle værelser bliver tildelt via kollegiets administrator ud fra et pointsystem.</p>
    <p><strong>Skal du have dit eget køkkenudstyr med ved indflytning?<br></strong>Nej. Køkkenerne administrerer med de respektive køkkenkasser selv indkøb af udstyr.</p>
</div>
</body>
</html>