<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Østervold kollegiet</title>
    <link rel="stylesheet" th:href="@{../styles/stylesheet.css}">
</head>
<body>
<div class="community">
  <h1>Fællesskabet</h1>
    <p>På Østervold Kollegiet vægter vi fællesskabet højt og nyder alt fra fester til madklubber. I løbet af året arrangerer festudvalget diverse fester og andre sociale arrangementer.
        Årets største begivenhed er Store TDC, hvor vi fester på alle seks sale. Vi har vores eget fest lokale som beboer er velkommen til at benytte sig af, skulle de have lyst til at fyrre den af.</p>
  <p>Billeder, udtalelser og videoer af fester, arrangementer osv.</p>
    <img src="" alt="Fun party" width="200" height="300">
    <img src="" alt="video montage" width="200" height="300">
</div>
</body>
</html>