<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Østervold kollegie</title>
</head>
<body>
<div class="faqs">
  <h2>FAQs</h2>
  <p><strong>Er der elevator?<br></strong>Ja, kollegiet har en elevator der kan køre fra kælderen til 6. sal.</p>
  <p><strong>Arrangeres der rundture på kollegiet?<br></strong>Nej, kollegiet arrangerer ikke ture for studerende, der ønsker at bo på kollegiet eller er blevet tildelt en bolig. Henvendelse kan ske til den hvis værelse man overtager.</p>
  <p><strong>Hvor lang er ventetiden for et værelse?<br></strong>Ventetiden er som udgangspunkt ca. 2 år. Dog er der for visse studerende kortere ventetider (eksempelvis på grund af lang afstand til uddannelsessted, akut boligsituation m.v.).</p>
  <p><strong>Er der på nogen måde jeg kan komme hurtigere frem, eksempelvis ved at sende en motiveret ansøgning?<br></strong>Det er der desværre ikke. Alle værelser bliver tildelt via kollegiets administrator ud fra et pointsystem.</p>
  <p><strong>Skal du have dit eget køkkenudstyr med ved indflytning?<br></strong>Nej. Køkkenerne administrerer med de respektive køkkenkasser selv indkøb af udstyr.</p>
</div>
</body>
</html>