<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
</head>
<body>
<header>
    <h1>Østervold kollegiet</h1>
</header>
<p>
    Østervold er et klassisk 70’er-bygget kollegie med 135 studerende. Det ligger placeret i hjertet af København, ikke langt fra Kongens Have, Østre Anlæg og Kastellet.<br>
    Bygningen er opført i 7 etager med en dejlig sydvestvendt tagterrasse, der står til rådighed for alle kollegiets beboere.<br>
    Kollegiet blev totalrenoveret i 2000, har 133 værelser og én enkelt 2-værelses lejlighed.
</p>
</body>
</html>