<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Østervold kollegiet</title>
    <link rel="stylesheet" th:href="@{../styles/stylesheet.css}">
</head>
<body>
<h1 th:text="'Inviter til ' + ${room.name}"></h1>
<form method="post" th:action="@{invite}">
    <label for="search">Søg</label>
    <br>
    <input type="search" id="search" name="search" placeholder="Indtast navn">
    <button type="submit">Søg</button>
</form>

<div th:if="${users != null}">
    <h4>Søgeresultater:</h4>
    <form name="invite" id="invite" method="post" th:action="@{invite_users}">
        <ul>
            <li th:each="user : ${users}">
                <label>
                    <span th:text="${user.firstName + ' ' + user.lastName}"></span>
                    <input type="checkbox" name="selectedUsers" th:value="${user.id}">
                </label>
            </li>
        </ul>
        <button type="submit">Inviter valgte</button>
    </form>
</div>
</body>
</html>