<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyDorm</title>
</head>
<body>
<h1 th:text="'Inviter til ' + ${room.name}"></h1>
<form method="post" th:action="@{/room/invite}">
    <label for="search">Søg</label>
    <br>
    <input type="search" id="search" name="search" placeholder="Indtast navn">
    <button type="submit">Søg</button>
</form>
<div th:if="${users != null}">
    <h4>Søgeresultater:</h4>
    <ul>
        <!-- Gennemløb søgeresultaterne og vis dem -->
        <li th:each="user : ${users}">
            <span th:text="${result.firstname + ' ' + result.lastname}"></span>
        </li>
    </ul>
</div>
</body>
</html>