<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${room.name}"></title>
    <link rel="stylesheet" th:href="@{../styles/stylesheet.css}">
</head>
<body>
<header>
<nav th:insert="~{home/fragments/topnav::top-nav}"></nav>
</header>
<header>
    <h2 th:text="${room.name}"></h2>
    <h3 th:text="${room.bio}"></h3>
</header>


<div id="feed-container">
    <div class="create_post">
        <form id="post" th:action="@{{id}/new_post (id=${room.id})}" method="post">
            <label for="text"></label>
            <textarea form="post" id="text" name="text"  placeholder="Skriv her..."></textarea>
            <button type="submit">slå op</button>
        </form>
    </div>

    <div th:each="post : ${posts}" class="post">
        <p class="author" th:text="${post.author.firstName + ' ' + post.author.lastName}"></p>
        <p class="text" th:text="${post.text}"></p>
        <p class="creation_date" th:text="${#dates.format(post.creationDate, 'dd-MM-yyyy HH:mm')}"></p>

        <div class="post-actions">
            <form class="like-post" th:action="@{{id}/post/{post_id}/like (post_id=${post.id}, id=${room.id})}" method="post">
            <input type="hidden" th:value="${post.id}">
            <button th:class="${post.isLiked() ? 'liked' : 'not-liked'}" type="submit">&hearts;</button>
            </form>
            <details class="comments">
                <summary>Kommentarer</summary>
                <form th:action="@{{id}/post/{post_id}/comment (post_id=${post.id}, id=${room.id})}" method="post">
                    <input type="text" name="text" placeholder="Skriv en kommentar...">
                    <button type="submit">Send</button>
                </form>
                <div th:each="comment : ${post.getComments()}">
                    <p th:text="${comment.author.firstName + ' ' + comment.author.lastName}"></p>
                    <p th:text="${comment.text}"></p>
                </div>
                <p th:if="${#lists.isEmpty(post.getComments())}">Ingen kommentarer endnu</p>
            </details>
            <details class="more"th:if="${post.author.id == user.id}">
                <summary>mere</summary>
                <label>
                    <a th:href="@{/room/{id}/post/{post_id}/delete (id=${room.id}, post_id=${post.id})}">Slet</a>
                    <a th:href="@{/room/{id}/post_delete (id=${room.id})}">Rediger</a>
                </label>
            </details>
        </div>
    </div>


</div>

</body>
</html>