<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Østervold Kollegie</title>
  <link rel="stylesheet" th:href="@{../styles/stylesheet.css}">

</head>
<body>
<h1>Fremleje</h1>
<p>Hvis du vil fremleje dit værelse, skal det ske gennem UBS Bolig. Al anden fremleje betragtes som misligholdelse af beboerens lejeaftale, og vil medføre ophævelse heraf i medfør af lejelovens bestemmelser.</p>
<p>Betingelserne for at fremleje dit værelse, er, at du som led i det studie skal på eksempelvis udveksling eller praktikophold. Man kan maks fremleje for ét år ad gangen.</p>
<p>For at et værelse kan fremlejes skal fremlejetageren opfylde de til enhver tid gældende regler for optagelse på Kollegiet. Fremlejetager skal desuden i hele fremlejeperioden til enhver tid kunne dokumentere studieaktivitet.</p>
<p>Kontakt UBS Bolig, hvis du ønsker at fremleje.</p>
</body>
</html>