<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Østervold Kollegie</title>
    <link rel="stylesheet" th:href="@{../styles/stylesheet.css}">
</head>
<body>
<h1>Intern flytning</h1>
<p>Hvis du ønsker intern flytning, skal der tages kontakt til UBS Bolig.</p>
<p>Værelsestildelingen sker efter hvem, der har boet på kollegiet i længst tid. Hvis man flytter internt, skal der betales stempelafgift på den nye kontrakt, og der vil blive opkrævet husleje fra både det fraflyttede og det nye værelse for en halv måned.</p>
</body>
</html>