.liked {
    color: red; /* eller anden ønsket farve */
}

.not-liked {
    color: black; /* eller anden ønsket farve */
}

.post-actions {
    display: inline;
}

.post-actions {
    display: flex;
    gap: 10px; /* Juster gap størrelsen efter behov */
}

.post-actions form,
.post-actions details {
    display: inline-block;
    margin: 0;
}